
    public static int calculateLCM(int number1, int number2) {
        int max = Math.max(number1, number2);
        int lcm = max;
        while (true) {
            if (lcm % number1 == 0 && lcm % number2 == 0) {
                return lcm;
            }
            lcm += max;
        }
    }
}
